<h3><%= t :user_profile %></h3>

<p><%= t :email %>: <%= current_user.email %></p>
<p><%= t :decks %>: <%= current_user.decks.count %></p>
<p><%= User.human_attribute_name(:default_deck) %>:
<% if current_user.default_deck %>
  <%= current_user.default_deck.title %>
<% else %>
  <%= t :no_default_deck %>
<% end %>
<p><%= t :locale %>: <%= current_user.locale %></p>
</p>


<%= link_to (t :edit), edit_profile_path %> |
<%= link_to (t :destroy), profile_path, method: :delete %>
