<!DOCTYPE html>
<html>
<head>
  <title>Flashcard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<section id="container">

  <header class="clearfix">
    <h1><%= t :app_name %></h1>
  </header>

  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="/"> <%= t :home %> </a>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to (t :decks), decks_path %></li>
        <li><%= link_to (t :cards), cards_path %></li>
        <li><%= link_to (t :add_card), new_card_path%></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <%= t :locale %>:
        <%= I18n.locale %>
        <% if logged_in? %>
          <%= link_to (t :logout), logout_path, class: "btn btn-default navbar-btn" %>
          <p class="navbar-text">
            <%= t :signed_as %>:
            <%= link_to current_user.email, profile_path %>
          </p>
        <% else %>
          <%= link_to (t :sign_up), signup_path, class: "btn btn-default navbar-btn" %>
        <% end %>
      </ul>
    </div>
  </nav>

  <p style="font-size: 22px;">
    <%= t :app_descr %>
  </p>

  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %>" role="alert">
      <%= message %>
    </div>
  <% end %>

  <%= yield %>

</section>
</body>

</html>
