<!DOCTYPE html>
<html>
<head>
  <title>Flashcard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<section id="container">

  <header class="clearfix">
    <h1>Флэшкарточкер</h1>
  </header>

  <nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">FlashCard</a>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Все карточки', controller: 'cards' %></li>
        <li><%= link_to 'Добавить карточку', new_card_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <a href="logout">
            <button type="button" class="btn btn-default navbar-btn">Logout</button>
          </a>
          <p class="navbar-text">
            Signed in as <%= link_to current_user.email, edit_user_path(current_user.id) %>
          </p>
        <% else %>
          <a href="signup">
            <button type="button" class="btn btn-default navbar-btn">Sign Up</button>
          </a>
          <!-- <a href="login">
            <button type="button" class="btn btn-primary navbar-btn">Sign In</button>
          </a> -->
        <% end %>
      </ul>
    </div>
  </nav>

  <p style="font-size: 22px;">
    Первый в мире удобный менеджер флеш-карточек. Именно так.
  </p>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg %>
  <% end -%>

  <%= yield %>

</section>
</body>

</html>
